In [1]:
import pandas as pd 
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
import missingno as msno

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
import missingno as msno
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import accuracy_score, r2_score
from sklearn.impute import KNNImputer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing


import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)

In [3]:
data= pd.read_csv('adult.csv')
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [5]:
data.replace('?', np.nan, inplace = True) # Here we replace '?' with nan
data.head(2)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K

In [6]:
data.isnull().sum()

age                   0
workclass          2799
fnlwgt                0
education             0
educational-num       0
marital-status        0
occupation         2809
relationship          0
race                  0
gender                0
capital-gain          0
capital-loss          0
hours-per-week        0
native-country      857
income                0
dtype: int64

In [7]:
data.dropna(inplace = True)

In [8]:
data.drop_duplicates(inplace=True)

In [9]:
data.isnull().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [10]:
data.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [11]:
data.drop(columns=['workclass','capital-gain', 'capital-loss','race'], axis = 1, inplace = True)
data.drop(columns=['fnlwgt','gender','marital-status'], axis = 1, inplace = True)
data.drop(columns=['native-country','education'], axis = 1, inplace = True)

In [12]:
# data.drop(rem_colu)
data.head()

,age,educational-num,occupation,relationship,hours-per-week,income
0,25,7,Machine-op-inspct,Own-child,40,<=50K
1,38,9,Farming-fishing,Husband,50,<=50K
2,28,12,Protective-serv,Husband,40,>50K
3,44,10,Machine-op-inspct,Husband,40,>50K
5,34,6,Other-service,Not-in-family,30,<=50K

In [13]:

# Define the income mapping
income_mapping = {'<=50K': 0, '>50K': 1}

# Convert the 'Salary' column using the mapping
data['income'] = data['income'].map(income_mapping)

# Verify the conversion
print(data['income'].head())

0    0
1    0
2    1
3    1
5    0
Name: income, dtype: int64

In [15]:
X = data.drop(columns=['income'])  # i removed income columns from x
y = data['income'] # in y only income

In [16]:

x_train, x_test, y_train, y_test = train_test_split(X , y, test_size = 0.3) # train test splidata

In [17]:
categorical_columns = X.select_dtypes(include = 'object').columns
numerical_columns = X.select_dtypes(exclude= 'object').columns

In [18]:
categorical_columns

Index(['occupation', 'relationship'], dtype='object')

In [19]:
numerical_columns

Index(['age', 'educational-num', 'hours-per-week'], dtype='object')

In [20]:
for i in categorical_columns:
    print(i)
    print(data[i].unique())

occupation
['Machine-op-inspct' 'Farming-fishing' 'Protective-serv' 'Other-service'
 'Prof-specialty' 'Craft-repair' 'Adm-clerical' 'Exec-managerial'
 'Tech-support' 'Sales' 'Priv-house-serv' 'Transport-moving'
 'Handlers-cleaners' 'Armed-Forces']
relationship
['Own-child' 'Husband' 'Not-in-family' 'Unmarried' 'Wife' 'Other-relative']

In [21]:
workclass_cat = ['Private', 'Local-gov', 'Self-emp-not-inc', 'Federal-gov',
       'State-gov', 'Self-emp-inc', 'Without-pay', 'Never-worked']


# marital_status_cat = ['single' ,'married' ,'divorced']


occupation_cat = ['Machine-op-inspct' ,'Farming-fishing', 'Protective-serv' 
 ,'Other-service', 'Prof-specialty', 'Craft-repair' ,'Adm-clerical'
 ,'Exec-managerial' ,'Tech-support' ,'Sales', 'Priv-house-serv'
 ,'Transport-moving' ,'Handlers-cleaners' ,'Armed-Forces']

In [22]:

from sklearn.impute import SimpleImputer # Missing values
from sklearn.preprocessing import StandardScaler # Feature scaling 
from sklearn.preprocessing import OrdinalEncoder # To rank categorical features
# Pipeline
from sklearn.pipeline import Pipeline #To add everything together 
from sklearn.compose import ColumnTransformer # Combine everything together

In [23]:
num_pipe = Pipeline(
    steps = [
        ('imputer', SimpleImputer(strategy= 'median')), 
        ('scaler', StandardScaler())
    ]
)

In [25]:
cat_pipe = Pipeline(
    steps = [
        ('imputer', SimpleImputer(strategy='most_frequent')), 
        ('ordinalencoder', OrdinalEncoder(categories=[workclass_cat, occupation_cat])), 
        ('scaler', StandardScaler())
    ]

)

In [26]:
preprocessor = ColumnTransformer([
    ('num_pipe', num_pipe, numerical_columns), 
    ('cat_pipe', cat_pipe, categorical_columns)
])

In [27]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.25, random_state= 45)

In [28]:
X.shape

(45175, 5)

In [29]:
y.shape

(45175,)

In [41]:
X_train.head()

       age  educational-num       occupation relationship  hours-per-week
12351   30                9     Adm-clerical         Wife              40
33368   36                7     Craft-repair    Own-child              40
5637    39               11  Protective-serv      Husband              40
26693   31                9     Adm-clerical    Unmarried              35
22724   21               10  Exec-managerial    Own-child              40

In [62]:
from sklearn.preprocessing import LabelEncoder

# Assuming categorical_cols is a list of categorical column names
label_encoder = LabelEncoder()
for col in categorical_cols:
    #X_train[col] = label_encoder.fit_transform(X_train[col])
    X_test[col] = label_encoder.fit_transform(X_test[col])

In [45]:
X_train_clean = X_train.dropna()
y_train_clean = y_train.loc[X_train_clean.index]

In [63]:
X_test_clean = X_test.dropna()
y_test_clean = y_test.loc[X_test_clean.index]

In [46]:
X_train_clean.shape

(33881, 5)

In [48]:
y_train_clean.shape

(33881,)

In [64]:
X_test.shape

(11294, 5)

In [65]:
y_test.shape

(11294,)

In [66]:
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score,mean_absolute_error, mean_squared_error

In [67]:
regression = LinearRegression()
regression.fit(X_train, y_train)

LinearRegression()

In [68]:
regression.coef_

array([ 0.00559993,  0.05009618,  0.00154773, -0.04021716,  0.00452983])

In [69]:
regression.intercept_

-0.6140076109842043

In [70]:
import numpy as np
def model_evaluation(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [71]:
models={
    'LinearRegression':LinearRegression(),
    'Lasso':Lasso(),
    'Ridge':Ridge(),
    'Elasticnet':ElasticNet()
}

In [72]:
model_list=[]
r2_list=[]

for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)

    #Make Predictions
    y_pred=model.predict(X_test)

    mae, rmse, r2_square=model_evaluation(y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    

    print('Model Training Performance')
    print("RMSE:",rmse)
    print("MAE:",mae)
    print("R2 score",r2_square*100)

    r2_list.append(r2_square)
    
    print('*'*35)
    print('\n')

LinearRegression
Model Training Performance
RMSE: 0.3860132090356176
MAE: 0.3166167265789082
R2 score 21.076883348559537
***********************************


Lasso
Model Training Performance
RMSE: 0.42686970228346904
MAE: 0.36731858015043867
R2 score 3.4859462108786765
***********************************


Ridge
Model Training Performance
RMSE: 0.3860132066684265
MAE: 0.3166167780561734
R2 score 21.076884316537303
***********************************


Elasticnet
Model Training Performance
RMSE: 0.4152633315148451
MAE: 0.35211929926244256
R2 score 8.662932782100963
***********************************

In [73]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [74]:
# Initialize the decision tree classifier
clf = DecisionTreeClassifier()

In [75]:
# Train the classifier on the training data
clf.fit(X_train, y_train)

DecisionTreeClassifier()

In [76]:
# Predict on the testing data
y_pred = clf.predict(X_test)

# Calculate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.7840446254648485

In [79]:
# Calculate MSE (Mean Squared Error)
mse = mean_squared_error(y_test, y_pred)

# Calculate RMSE (Root Mean Squared Error)
rmse = np.sqrt(mse)

print("Root Mean Squared Error:", rmse)

Root Mean Squared Error: 0.4647099897087983